@model FoodStoreMVC.Models.Category

@{
    ViewData["Title"] = "Xóa danh mục";
}

<h2>@ViewData["Title"]</h2>

<h3>Bạn có chắc chắn muốn xóa danh mục này?</h3>
<div>
    <h4>@Model.Name</h4>
    <dl class="dl-horizontal">
        <dt>Mô tả</dt>
        <dd>@Model.Description</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Xóa</button>
</form>
